<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Pagina inicial</title>
    <meta charset="UTF-8">
    <meta name="author" content="erik">
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body class="iniAcial">
    <header>
     <ul>
       <a>cristal inc.</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a>|</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="sobre.html">sobre</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="contatos.html">contatos</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="login.html">
       <button>LOGIN</button>
       </a>
     </ul>
     <h1>BANCO EG</h1>
    </header>
    <main>
      <p>O seu parceiro de confiança para soluções bancárias online, oferecendo segurança,
      inovação e praticidade no dinâmico mundo digital.</p>
      <a href="cadastro.html" class="botao-começar">
        <button>começar agora</button>
      </a>
    </main>
    <footer>
      <p style="padding-left: 350px;">www.BancoBg.com</p>
    </footer>
  </body>
</html>
