body {
  background-image: url('https://cdn.discordapp.com/attachments/1367717695562186762/1403849333480226956/Copia_de_Inicio.jpg.jpg?ex=68990c13&is=6897ba93&hm=6bc7344207782837889c2ae9772d7888d58f18edda2171204dd97d829095741e&');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.inicial h1 {
  padding-left: 50px;
  font-size: 60px;
  color: white;

}

.inicial p {
  padding-left: 50px;
  color: white;
}

.botao-começar {
  padding-left: 50px;
}

.link {
  padding-left: 90px;
}
